<br/>
<bt/>
<br/>
<h3>Students</h3>
<br/>
<form class="filter_form" method="get">
  <% @options = Grade.all.map { |a| [ a.grade_name, a.id ] } %>
  <%= select_tag "grade_id", options_for_select(@options, params["grade_id"]), :onchange => "this.form.submit();", :prompt => "All Grades" %>
  <br/>
  <% @esol_options = EsolGroup.all.map {|e| [e.group_name, e.id] } %>
  <%= select_tag "esol_group_id", options_for_select(@esol_options, params["esol_group_id"]), :onchange => "this.form.submit();", :prompt => "All ESOL Groups" %>
</form>
<br/>
<%= form_tag students_path, :method => 'get', :id => "students_search", :remote => true do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :lastname => nil %>
    </p>

    <%= link_to 'New Student', new_student_path %>&nbsp;
    <%= link_to 'Languages', languages_path %>
    <br/>
    <br/>
    <div id="students_partialz"><%= render 'students_partialz' %></div>
    <br />

<% end %>
<br/>

<%= link_to 'New Student', new_student_path %>&nbsp;
<%= link_to 'Languages', languages_path %>
