<br/>
<br/>
<br/>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.lastname + ', ' + @student.firstname %>
</p>

<p>
  <b>Number:</b>
  <%= @student.student_number %>
</p>

<p>
  <b>Grade:</b>
  <%= @student.grade %>th
</p>

<p>
  <b>Language:</b>
  <%= @student.language.language_name %>
</p>
<p>
  <b>Entry date:</b>
  <%= @student.entry_date %>
</p>

<p>
  <b>ESE Code:</b>
  <%= @student.ese_code %>
</p>

<p>
  <b>FCAT Reading:</b>
  <%= @student.fcat_reading %>
</p>

<p>
  <b>FCAT Math:</b>
  <%= @student.fcat_math %>
</p>

<p>
  <b>CELLA Listening/Speaking:</b>
  <%= @student.cella_listening_speaking %>
</p>

<p>
  <b>CELLA Reading:</b>
  <%= @student.cella_reading %>
</p>

<p>
  <b>CELLA Writing:</b>
  <%= @student.cella_writing %>
</p>

<p>
  <b>Student with dissability:</b>
  <%= @student.student_with_dissability %>
</p>

<p>
  <b>Economically disadvantaged:</b>
  <%= @student.economically_disadvantaged %>
</p>

<p>
  <b>White:</b>
  <%= @student.white %>
</p>

<p>
  <b>Hispanic:</b>
  <%= @student.hispanic %>
</p>

<p>
  <b>Black:</b>
  <%= @student.black %>
</p>

<p>
  <b>Asian:</b>
  <%= @student.asian %>
</p>

<p>
  <b>Multiracial:</b>
  <%= @student.multiracial %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
